$("#js-follow-button-<%= @other_user.id %>").html("<%= j(render('follow', user: @other_user)) %>")
$("#follower-count").html("<span class='text-info'><%= @other_user.followers.length %></span>" + "<small class='text-info'> フォロワー</small>")
