<div class="container">
  <div class="text-center top-text p-1"><%= @user.name %> さんがよみたい絵本</div>
    <div class="row row-cols-1 row-cols-md-2">
      <% @books.each do |book| %>
        <%= render 'books/book', { book: book } %>
      <% end %>
    </div>
    <div class="mx-auto">
      <%= paginate @books %>
    </div>
</div>