<header>
  <nav class="navbar navigation navbar-light bg-light">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', size: '155x30' %>
    <% end %>
    <h6><%= link_to (t 'defaults.login'), login_path ,class: 'navbar-brand ml-auto text-secondary' %></h6>
  </nav>
</header>
