<header>
  <nav class="navbar navigation navbar-light bg-light">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', size: '260x40' %>
    <% end %>
    <%= link_to (t 'defaults.login'), login_path ,class: 'navbar-brand justify-content-end ' %>
  </nav>
</header>
