<footer class="mt-1">
  <div class="container">
    <div class="nav justify-content-center fixed-bottom bg-light copyright">
      <%= link_to root_path do %>
        <div class="text-center m-3">
          <i class="fa-solid fa-house"></i>
          <p class="icon-text">ホーム</p>
        </div>
      <% end %>
    </div>
  </div>
</footer>
