  <div class="container">
    <nav class="justify-content-center bg-primary"> 
      <%= link_to root_path do %>
        <div class="text-center m-2">
          <i class="fa-solid fa-house"></i>
          <p class="icon-text">ホーム</p>
        </div>
      <% end %>

      <%= link_to search_books_path do %>
        <div class="text-center m-2">
          <i class="fa-solid fa-magnifying-glass"></i>
          <p class="icon-text">けんさく</p>
        </div>
      <% end %>

      <%= link_to books_path do %>
        <div class="text-center m-2">
          <i class="fa-solid fa-book-open-reader"></i>
          <p class="icon-text">よみたい</p>
        </div>
      <% end %>

      <%= link_to profile_path do %>
        <div class="text-center m-2">
          <i class="fa-solid fa-circle-user"></i>
          <p class="icon-text">マイページ</p>
        </div>
      <% end %>
    </nav>
  </div>
  