<footer class="mt-3">
  <div class="container">
    <nav class="nav justify-content-center fs-7 mb-1"> 
      <%= link_to '利用規約', terms_path ,class: 'nav-link text-dark' %>
      <%= link_to 'プライバシーポリシー', privacy_path ,class: 'nav-link text-dark' %>
      <%= link_to 'お問い合わせ', 'https://forms.gle/ArRqVyoGTSZq2s6t5' ,class: 'nav-link text-dark' %>
    </nav>
    <p class="copyright text-center text-secondary fs-7 mb-0">Copyright © 2022. Kariteyomu</p>
  </div>
</footer>