    <div class="text-center">
      <h3 class="p-4">Kariteyomuの使い方</h3>
        <p>　Kariteyomuは絵本検索と図書館検索を掛け合わせたサービスです。</p>
    </div>

    <div class="text-center items-center">

      <div class="items-center justify-center">
        <%= image_tag 'user_login.png', size: '150x150' %>
      </div>

      <div class="flex-grow">
        <h4 class="title-font font-medium">その1. ログインしてみよう</h4>
        <p class="leading-relaxed">　まずはページ右上の「ログイン」ボタンからログインしてみよう。</p>
      </div>
    </div>


    

    <div class="text-center items-center">
      <div class="mb-4"></div>

      <div class="items-center justify-center">
        <%= image_tag 'map.png', size: '150x150' %>
      </div>

      <div class="flex-grow">
        <h4 class="title-font font-medium mb-3">その2 . 図書館を登録をしよう</h4>
        <p class="leading-relaxed">　「図書館」ボタンから図書館エリアを登録してみよう。</p>
      </div>
      </div>
    </div>

    <div class="text-center items-center">
      <div class="mb-4"></div>

      <div class="items-center justify-center">
        <%= image_tag 'book.png', size: '150x150' %>
      </div>

      <div class="flex-grow">
        <h4 class="title-font font-medium">その3 . 絵本を探そう</h4>
        <p class="leading-relaxed">　絵本を探して「よみたいリストに追加」ボタンを押してみよう。<br>よみたいリストで絵本を選ぶと図書館で借りられるか見れます。</p>
      </div>
    </div>
    