    <div class="text-center">
      <h1 class="mb-4">Kriteyomuの使い方</h1>
        <p>　Kariteyomuへようこそ！Kariteyomuへようこそ、絵本検索と図書館検索を掛け合わせたサービスです。</p>
    </div>

    <div class="text-center items-center">
      <div class="mb-5"></div>
      <div class="flex-grow mb-5">
        <h2 class="title-font font-medium mb-3">その1. ログインしてみよう</h2>
        <p class="leading-relaxed text-base text-gray-500">　まずは、ページ右上の「ログイン」ボタンから、ログインしてみよう</p>
      </div>
    </div>

    <div class="text-center items-center">
      <div class="mb-5"></div>
      <div class="flex-grow mb-5">
        <h2 class="title-font font-medium mb-3">その2 . 絵本を探そう</h2>
        <p class="leading-relaxed text-base text-gray-500">　ページ下の「けんさく」ボタンから、絵本を検索してみよう。よみたい本は「よみたいリストに追加」ボタンを押してよみたいリストに追加、レビューしたい本は「レビューする」を押してレビューをしよう</p>
      </div>
    </div>

    <div class="text-center items-center">
      <div class="mb-5"></div>
      <div class="flex-grow mb-5">
        <h2 class="title-font font-medium mb-3">その3 . エリア登録をしよう</h2>
        <p class="leading-relaxed text-base text-gray-500">　ページ右上のエリア登録ボタンから、エリアを登録してみよう。よみたいリストに登録した本がエリアの中で貸出可能か表示されるようになります。</p>
      </div>
    </div>
    