<body>
        <h1><%= "登録しているエリアは#{@library.name}です" %></h1> 


        <h1><%= link_to "現在地を取得する", libraries_path, remote: true, class: 'btn btn-outline-primary btn-lg' %></h1>
        <div class="center">
            <div class="btn-margin">

            </div>
            <div class="txt-margin">
                <p>緯度：<span id="latitude">???</span><span>度</span></p>
                <p>経度：<span id="longitude">???</span><span>度</span></p>
            </div>
            <div id="parent">
                <p class="library"></p>
            </div>
        </div>
</body>
