<h1>libraryのindexだよ！！</h1>
	<body>
    <div class="center">
        <div class="btn-margin">
            <button id="btn" class="btn btn-outline-primary btn-lg">
                現在位置を取得する
            </button>
        </div>
        <div class="txt-margin">
            <p>緯度：<span id="latitude">???</span><span>度</span></p>
            <p>経度：<span id="longitude">???</span><span>度</span></p>
        </div>

        <p id="library"></p>

    </div>
    <script>
        // ボタンを押した時の処理
        document.getElementById("btn").onclick = function(){
            // 位置情報を取得する
            navigator.geolocation.getCurrentPosition(successCallback, errorCallback);
        };

        // 取得に成功した場合の処理
        function successCallback(position){
            // 緯度を取得し画面に表示
            var latitude = position.coords.latitude;
            console.log(latitude)
            document.getElementById("latitude").innerHTML = latitude;
            // 経度を取得し画面に表示
            var longitude = position.coords.longitude;
            console.log(longitude)
            document.getElementById("longitude").innerHTML = longitude;

            //  debugger
            $.ajax({
                type: 'GET',
                url: 'https://api.calil.jp/library',
                // url: "https://api.calil.jp/library?appkey=<%= ENV['APP_KEY'] %>&geocode=136.7163027,35.390516&limit=10",
                data:{
                    appkey: "<%= ENV['APP_KEY'] %>",
                    // geocode: `${latitude},${longitude}`,
                    format: "json",
                    geocode: `${longitude},${latitude}`,
                    limit: 10,
                },
                
                dataType: 'jsonp',
                jsonp: 'callback',//コールバックパラメータ名の指定
            })
            
            .done(function(data){
                console.log("成功")
                console.log(data)

                Object.keys(data).forEach( function(value) {
                    $("#library").after(`<div>
                    <button type="button" class="btn btn-success">${this[value].short}
                    </div>`)
                    console.log(this[value].short)

                }, data)

                // $("#library").after(`<div>
                //     <button type="button" class="btn btn-success">${data}</button>
                // </div>`)
            })

            .fail(function(data){
                console.log("失敗")
                console.log(data)
                $("#jsonp").append("エラーです");
            });


        };
       

        // 取得に失敗した場合の処理
        function errorCallback(error){
            alert("位置情報が取得できませんでした");
        };


        console.log(latitude)
    </script>
</body>