  <div class="col row-cols-1 row-cols-md-2 p-1">
    <div class="card mx-auto" style="width: 16rem; height: 14rem">
      <%= image_tag book.image_link.present? ? book.image_link : 'sample.jpg', class: 'card-img-top book-img' %>
      <h6 class="card-title p-2"><%= book.title.truncate(30) %></h6>
      <%= link_to '', book_path(book), class: 'card-link' %>
    </div>
  </div>