  <div class="col p-2">
    <div class="card mx-auto" style="width: 22rem; height: 16rem">
      <%= image_tag book.image_link.blank? ? 'sample.jpeg' : book.image_link, class: 'card-img-top book-img' %>
      <div class="card-body">
        <h5 class="card-title"><%= book.title.truncate(30) %></h5>
      </div>
      <%= link_to '', book_path(book), class: 'card-link' %>
    </div>
  </div>