<div class='list-inline float-left'>

  <% if book.image_link %>
    <% set_meta_tags og: {image: book.image_link },
                twitter: {card: 'summary'} %>
  <% end %>

  <div class="list-inline-item">
    <%= link_to "https://twitter.com/share?url=https://www.kariteyomu.net/
      %0a%0a&text=Kariteyomuで見つけた素敵な絵本を共有します！%0a『#{ book.title.truncate(20) }』
      %0a%0a&hashtags=Kariteyomu,絵本,図書館",
      target: '_blank' do %>
      <h3><i class="fab fa-twitter m-2" style='color: #3399FF;'></i></h3>
    <% end %>
  </div>
</div>
