<div class="container">
  <!-- 掲示板一覧 -->
  <p><div class="row row-cols-1 row-cols-md-2"></p>
    <% if @book.present? %>
      <%= render @book %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
    </div>
  </div>

    <%= paginate @book %> 
</div>