<div class="container-fluid">
  <!-- 掲示板一覧 -->
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% if @book.present? %>
      <%= render @book %>
    <% else %>
      <p><%= t('.no_result') %></p>
    <% end %>
  </div>
  <p><div class="pagination"></p>
   <%= paginate @book %>
  </div> 
 </div>