<% if @book.present? %>
  <div class="text-center top-text p-1">よみたい</div>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2">
        <%= render @book %>
      </div>
    </div>
    <%= paginate @book %> 
  </div>
<% else %>
  <h3 class="text-center top-text p-3"><%= t('.no_result') %></h3>
<% end %>
