<%= render 'twitter', post: post  %>
<ul class='crud-menu-btn list-inline float-right'>
  <li class="list-inline-item">
    <%= link_to edit_post_path(post), id: "button-edit-#{post.id}" do %>
      <h3><i class="fa-solid fa-gear m-2" style="color: #A1A3A6"></i></h3>
    <% end %>
  </li>
  <li class="list-inline-item">
    <%= link_to post_path(post), id: "button-delete-#{post.id}", method: :delete, data: { confirm: t('defaults.message.delete_confirm') } do %>
      <h3><i class="fa-regular fa-trash-can m-2" style="color: #A1A3A6"></i></h3>
    <% end %>
  </li>
</ul>
