<%= link_to likes_path(post_id: post.id),
            id: "js-like-button-for-post-#{post.id}",
            class:"float-right",
            method: :post,
            remote: true do %>
  <h1><i class="fa-regular fa-heart m-5"></i></h1>
<% end %>