<%= link_to like_path(current_user.likes.find_by(post_id: post.id)),
            id: "js-like-button-for-post-#{post.id}",
            class:"float-right",
            method: :delete,
            remote: true do %>
  <h1><i class="fa-solid fa-heart m-5"></i></h1>
<% end %>
