<td><%= link_to 'UnLike', post_like_path(post_id: post.id, id: current_user.likes.find_by(post_id: post.id)), method: :delete %></td>

<%= link_to like_path(current_user.likes.find_by(post_id: post.id)), id: "js-like-button-for-post-#{post.id}", class:"float-right", method: :delete do %>
  <%= icon 'fas', 'star' %>
<% end %>