<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h3 class="text-center top-text p-1"><%= t('.title') %></h3>
      <%= render 'form', { post: @post } %>
    </div>
  </div>
</div>
