<% if @like_posts.present? %>
  <div class="text-center top-text p-1">いいね</div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <%= render @like_posts %>
    </div>
    <%= paginate @like_posts %>
</div>
</div>
<% else %>
  <h5 class="m-4"><%= t('.no_result') %></h5>
<% end %>

