.top-wrapper {
  background:
    url(back_logo.png),
    url(top_image.png);
  // background-image: image-url("top_image.png");
  // height: calc(100vh - 134px);
  // position: relative;
  background-position: center;
  width:
   500px,
   auto;
  height:
   400px;
  // padding: 10px 20px;  
  background-size:
   contain,
   cover;
  
   background-repeat:no-repeat
}

.top-image {
  // position: relative;
  background-position: center;
  width: auto;
  height: 450px;
  padding: 10px 20px; 
}

.top-picture {
  text-align: center;
  font-size: 3rem;
}

.top-picture2 {
  text-align: center;
  color: rgb(14, 32, 202);
}

.top-picture3 {
  text-align: center;
  color: rgb(233, 189, 10);
}