.top-wrapper {
  background-image: image-url("top_image.jpg");
  // height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  width: auto;
  height: 400px;
  padding: 10px 20px;  
  background-size: cover;

  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    color: black;
    background-color: silver;
    opacity: 0.8;
    font-size: 80%;

    font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;

  //   @media screen and (max-width: 767px) {
  //      font-size: 2.0rem;
  //    }
  }
}

.top-image {
  // position: relative;
  background-position: center;
  width: auto;
  height: 450px;
  padding: 10px 20px; 
}

.top-picture {
  text-align: center;
  font-size: 3rem;
}

.top-picture2 {
  text-align: center;
  color: rgb(14, 32, 202);
}

.top-picture3 {
  text-align: center;
  color: rgb(233, 189, 10);
}